body{
    background-color: red;
}



.container{
    background-color: aliceblue;
}

.container2{
    background-color: aqua ;

    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 2px 2px red;
    
}

.head1{
    text-align: center;
    color: aquamarine;
    text-transform: uppercase;
    /*text-decoration: underline;*/
    text-decoration-color: blue;
    text-decoration-style: double;
    /*letter-spacing: 100px;*/
    text-shadow: -3px -5px 5px blue;
}

.para{
    font-weight: bold;
    font-style: italic;
    word-spacing: 20px;
    line-height: 50px;
}
