body{
    background-color: rgb(126, 12, 219);
}



.container{
    background-color: rgb(2, 56, 104);
    color: aliceblue;
    padding: 20px;
    border: 5px double white;
    
}

.container2{
    background-color: aqua ;
    border: 5px solid black;

    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 2px 2px red;
    
}

.head1{
    text-align: center;
    color: aquamarine;
    text-transform: uppercase;
    /*text-decoration: underline;*/
    text-decoration-color: blue;
    text-decoration-style: double;
    /*letter-spacing: 100px;*/
    text-shadow: -3px -5px 5px blue;
}

.para{
    font-weight: bold;
    font-style: italic;
    word-spacing: 20px;
    line-height: 50px;
}

.wrapper{

    background-color: rgb(14, 78, 181);
    padding: 20px;
    border: 5px dashed black;
    box-shadow: 25px 20px 15px 10px black;
}

.wrapper1{

    background-color: rgb(25, 115, 194);
    padding: 20px;
    margin: 50px;

    border: 5px solid red;
    border-radius: 30px;
    box-shadow: 5px 6px 7px 8px black;

}
